@model Kontrolor

<form asp-route-page="@ViewBag.Page"
      asp-route-sort="@ViewBag.Sort"
      asp-route-ascending="@ViewBag.Ascending"
      method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
            <label asp-for="Ime"></label>
            <div><span asp-validation-for="Ime" class="text-danger"></span></div>
            <input asp-for="Ime" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Prezime"></label>
            <div><span asp-validation-for="Prezime" class="text-danger"></span></div>
            <input asp-for="Prezime" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Oib"></label>
            <div><span asp-validation-for="Oib" class="text-danger"></span></div>
            <input asp-for="Oib" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DatumZaposlenja"></label>
            <div><span asp-validation-for="DatumZaposlenja" class="text-danger"></span></div>
            <input asp-for="DatumZaposlenja" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ZaposlenDo"></label>
            <div><span asp-validation-for="ZaposlenDo" class="text-danger"></span></div>
            <input asp-for="ZaposlenDo" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="KorisnickoIme"></label>
            <div><span asp-validation-for="KorisnickoIme" class="text-danger"></span></div>
            <input asp-for="KorisnickoIme" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Lozinka"></label>
            <div><span asp-validation-for="Lozinka" class="text-danger"></span></div>
            <input asp-for="Lozinka" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IdSmjena"></label>
            <div><span asp-validation-for="IdSmjena" class="text-danger"></span></div>
            <select class="form-control" asp-for="IdSmjena" asp-items="ViewBag.Smjene">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="IdRang"></label>
            <div><span asp-validation-for="IdRang" class="text-danger"></span></div>
            <select class="form-control" asp-for="IdRang" asp-items="ViewBag.Rangovi">
            </select>
        </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Spremi</button>
        <a asp-action="Index"
           asp-route-page="@ViewBag.Page"
           asp-route-sort="@ViewBag.Sort"
           asp-route-ascending="@ViewBag.Ascending"
           class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
