@model IEnumerable<UredajViewModel>
<table class="table table-striped" id="table-uredaji">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Stanje", "Naziv", "Proizvođač", "Godina proizvodnje", "Id opreme" };
                for (int i = 0; i < nazivi.Length; i++)
                {
                    <th class="text-center">
                        @nazivi[i]
                    </th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uredaj in Model)
        {
            <tr>
                <td class="text-left col-sm-4">
                    <input type="hidden" name="Uredaji.Index" value="@uredaj.IdStanja" />
                    <input type="hidden" name="Uredaji[@uredaj.IdStanja].Id" value="@uredaj.Id" />
                    <input type="hidden" name="Uredaji[@uredaj.IdStanja].IdStanje" value="@uredaj.IdStanja" />
                    <input type="hidden" name="Uredaji[@uredaj.IdStanja].TipStanja" value="@uredaj.TipStanja" />
                    @uredaj.TipStanja
                </td>
                <td class="text-center col-sm-1">
                    <input name="Uredaji[@uredaj.IdStanja].Naziv" class="form-control" value="@uredaj.Naziv" />
                </td>
                <td class="text-center col-sm-1">
                    <input name="Uredaji[@uredaj.IdStanja].Proizvodac" class="form-control" value="@uredaj.Proizvodac" />
                </td>
                <td class="text-center col-sm-1">
                    <input name="Uredaji[@uredaj.IdStanja].GodinaProizvodnje" class="form-control" value="@uredaj.GodinaProizvodnje" />
                </td>
                <td class="text-center col-sm-1">
                    <input name="Uredaji[@uredaj.IdStanja].IdOprema" type="datetime" class="form-control" value="@uredaj.IdOprema" />
                </td>
                <td>
                    <button class="btn btn-sm btn-danger deleterow" title="Izbaci">Obrisi</button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <input id="uredaj-idStanja" type="hidden" data-autocomplete-placeholder="Stanje" readonly="readonly" />
                <input id="uredaj-idStanja" type="text" data-autocomplete="Stanje" />
            </td>
            <td class="text-center col-sm-1">
                <input id="uredaj-naziv" type="text" />
            </td>
            <td class="text-center col-sm-1">
                <input id="uredaj-proizvodac" type="text" />
            </td>
            <td class="text-center col-sm-1">
                <input id="uredaj-godinaProizvodnje" type="text" />
            </td>
            <td class="text-center col-sm-1">
                <input id="uredaj-idOprema" type="number" />
            </td>
            <td class="text-left" colspan="3">
                <button id="uredaj-dodaj" class="btn btn-sm btn-secondary" title="Dodaj">Dodaj</button>
            </td>
        </tr>
    </tbody>
</table>
