@model PlanOdrzavanja

<form asp-route-page="@ViewBag.Page"
	  asp-route-sort="@ViewBag.Sort"
	  asp-route-ascending="@ViewBag.Ascending"
	  method="post">
	<div asp-validation-summary="All"></div>
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<label asp-for="IdTimZaOdrzavanje"></label>
		<div><span asp-validation-for="IdTimZaOdrzavanje" class="text-danger"></span></div>
		<select class="form-control" asp-for="IdTimZaOdrzavanje" asp-items="ViewBag.Timovi">
		</select>
	</div>
	<div class="form-group">
		<label asp-for="IdPodsustav"></label>
		<div><span asp-validation-for="IdPodsustav" class="text-danger"></span></div>
		<select class="form-control" asp-for="IdPodsustav" asp-items="ViewBag.Podsustavi">
		</select>
	</div>
	<div class="form-group">
		<label asp-for="DatumOdrzavanja"></label>
		<div><span asp-validation-for="DatumOdrzavanja" class="text-danger"></span></div>
		<input asp-for="DatumOdrzavanja" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="RazinaStrucnosti"></label>
		<div><span asp-validation-for="RazinaStrucnosti" class="text-danger"></span></div>
		<input asp-for="RazinaStrucnosti" class="form-control" />
	</div>
	<div class="text-center">
		<button class="btn btn-primary" type="submit">Spremi</button>
		<a asp-action="Index"
		   asp-route-page="@ViewBag.Page"
		   asp-route-sort="@ViewBag.Sort"
		   asp-route-ascending="@ViewBag.Ascending"
		   class="btn btn-secondary">Odustani</a>
	</div>
</form>

@section scripts {
<partial name="IncludeValidation" />
}
